{% load static %}
{% load bootstrap5 %}
 {% bootstrap_css %}
<!--nav class="navbar navbar-dark bg-dark">
  <div class="container-md">
    <a class="navbar-brand" href="{% url 'filter' %}">
      <img src="{%static 'images/favicon.ico'%}" alt="" width="30" height="24" class="d-inline-block align-text-top">
      Simba
    </a>

  </div>
  <span class="navbar-brand"><a  class="navbar-brand"  href = "">Espace fournisseur</a></span>
  <span class="navbar-brand"><a  class="navbar-brand"  href = "{% url 'produit' %}">Page produit</a></span>
  <span class="navbar-brand"><a  class="navbar-brand"  href = "{% url 'service' %}">page service</a></span>
  <span class="navbar-brand"><a  class="navbar-brand"  href = "{% url 'fournisseur' %}">Page fournisseur</a></span>
  <!--span class="navbar-brand">Bonjour, {{request.user}}</span-->
  <!--span class="navbar-brand"><a class="navbar-brand"  href = "{% url 'quitter' %}">Quitter</a></span-->
  
  
<!--/nav-->




 <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'filter' %}"><img src="{%static 'images/favicon.ico'%}" alt="" width="30" height="24" class="d-inline-block align-text-top">Simba</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'produit' %}">Page produit</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'fournisseur' %}">Page fournisseur</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'service' %}">Page service</a>
        </li>
      </ul>
      
    </div>
    <div class="row navbar-nav">
      <div class="col-md-3 col-md-offset-8 nav-item"><a class="nav-link"  href = "{% url 'tableau' %}">Espace Fournisseur</a></div>
    </div>
  </div>
</nav> 